div img {
    width: 200px;
    position: absolute;
    border-style: solid;
    border-width: 5px;
    border-bottom-width: 91px;
    border-right-width: 30px;
    border-color: #efeff9;
}

div.basic {
    position: absolute;
    margin-left: 230px;
    background-color: #efeff9;
    width: 100%;
    height: 38.3%;
}

div.basic h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

div.basic h2 a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

div.basic a.btn-blue {
    color: #1c1caf;
    text-decoration: none;
    font-size: 24px;
}

div.basic a.btn.btn-blue:hover {
    color: #0f0f84;
}

div.basic a.btn-green {
    color: #308e04;
    text-decoration: none;
    font-size: 24px;
}

div.basic a.btn.btn-green:hover {
    color: #2b730a;
}

div.basic a.btn-mail {
    font-size: 24px;
    color: #3082cc;
}

div.basic a.btn.btn-mail:hover {
    color: #2569a7;
}

nav {
    width: 118.6%;
    padding: 20px;
    background: #6d6e74
}


}
nav ul {
    text-align: center;
}
nav ul li {
    display: inline-block;
    padding: 0 0;
    margin-left: 3em;
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
}
h3 {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    margin-left: 25px;
}
p {
    margin-left: 20px;
}
#section1 {
    margin-top: 284px;
    position: absolute;
    background-color: aliceblue;
    width: 120.5%;
}
#section2 {
    position: absolute;
    margin-top: 440px;
    background-color: aliceblue;
    width: 120.5%;
}
#section3 {
    position: absolute;
    margin-top: 625px;
    background-color: aliceblue;
    width: 120.5%;
}
#section4 {
    position: absolute;
    margin-top: 810px;
    background-color: aliceblue;
    width: 120.5%;
}
#section5 {
    position: absolute;
    margin-top: 930px;
    background-color: aliceblue;
    width: 120.5%;
}
#section6 {
    position: absolute;
    margin-top: 1130px;
    background-color: aliceblue;
    width: 120.5%;
}
div btn {
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}
div.btn-blue {
    color: white;
    background-color: #1515c3;
    box-shadow: inset -2px -2px 6px #081761;
}
div.btn-blue:hover {
    background-color: #0d0d82;
}